<div class="head-nav-bar">
    <nav>
        <b class="nav-item" id="active_tests"><a href="active_tests">Активные тесты</a></b>
        <b class="nav-item" id="test_stats"><a href="test_stats">Статистика тестов</a></b>
        <b class="nav-item" id="manage-organization"><a href="manage-organization">Управление организациями</a></b>
        <b class="nav-item" id="manage-topics"><a href="manage-topics">Управление темами</a></b>
        <b class="nav-item" id="manage-groups"><a href="manage-groups">Мои группы</a></b>
    </nav>
</div>