<div class="head-nav-bar">
    <nav>
        <b class="nav-item"><a href="active_tests">Активные тесты</a></b>
        <b class="nav-item"><a href="test_stats">Статистика тестов</a></b>
    </nav>
</div>