<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="keywords"
		  content="платформа для тестирования студентов">
	<title>Testing platform - управление темами</title>
	<link rel="icon" href="/images/logo2.jpg">
	{{> styles}}
	<script src="scripts/checkCookie.js"></script>
	<script src="scripts/signOut.js"></script>
	<script src="scripts/nav.js"></script>

	<script src="scripts/checkAuth.js"></script>
	<!--        <link rel="stylesheet" href="/styles/outlines.css">-->
</head>
<body>
<header>
	{{>header_content}}
	<div class="head-bar">

		{{>sign_in}}
		{{>head_nav_bar}}
	</div>
</header>
<main>
	<h1>Все доступные темы:</h1>

	<table class="topicTable">
		<thead>
		<tr>
			<th>Id</th>
			<th>Id организации</th>
			<th>Название</th>
		</tr>
		</thead>
		<tbody id="topicTableBody">
		</tbody>

	</table>

	<div class="loader" style="display: none;">
		<div class="running-cat-container">
			<img class="running-cat" src="images/raccoon-rave.gif" alt="Running Cat">
		</div>
		<div class="loading-text">Загрузка</div>
	</div>

	<button onclick="addTopic()" class="addTopicButton">Добавить тему</button>
	<div class="add-topic-form" style="display: none">
		<form id="addTopicForm">
			<div class="form-group">
				<b><label for="name">Название:</label></b>
				<input class="name-input" type="text" id="name" name="name" maxlength="255"
					   placeholder="Введите название" required>
			</div>

			<button class="add-user-button" type="submit">Добавить тему</button>
		</form>
		<p>
			<button onclick="cancelAddTopic()" class="cancel-add-user-button">Отмена</button>
		</p>
	</div>
	<script src="scripts/loading.js"></script>
	<script src="scripts/load-topics.js"></script>
</main>
<footer>

	<!--    {{>footer_bar}}-->

</footer>
</body>
</html>