<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="keywords"
          content="платформа для тестирования студентов">
    <title>Testing platform - товар</title>
    <link rel="icon" href="/images/logo2.jpg">
    {{> styles}}
    <script src="scripts/checkCookie.js"></script>
    <script src="scripts/signOut.js"></script>
    <script src="scripts/nav.js"></script>
    <script src="scripts/checkAuth.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="scripts/printOrganization.js"></script>


    <!--        <link rel="stylesheet" href="/styles/outlines.css">-->
</head>
<body>
<header>
    {{>header_content}}
    <div class="head-bar">

        {{>sign_in}}
        {{>head_nav_bar}}
    </div>
</header>
<main>
	<h1 id="h1OrgName"></h1>
	<h2>Данные организации:</h2>
	<table class="userTable">
		<thead>
		<tr>
			<th>Id</th>
			<th>Название</th>
			<th>Адрес</th>
			<th>Телефон</th>
			<th>Почта</th>
			<th>Ответственное лицо</th>
		</tr>
		</thead>
		<tbody id="userTableBody">
		</tbody>

	</table>

	<h2>Студенты:</h2>
	<table class="studentTable">
		<thead>
		<tr>
			<th>Id</th>
			<th>Id пользователя</th>
			<th>ФИО</th>
			<th>Группа</th>
			<th>Активен?</th>
			<th>Почта</th>
			<th>Дата создания</th>
			<th>Действия</th>
		</tr>
		</thead>
		<tbody id="studentTableBody">
		</tbody>

	</table>

	<h2>Преподаватели:</h2>
	<table class="teacherTable">
		<thead>
		<tr>
			<th>Id</th>
			<th>Id пользователя</th>
			<th>ФИО</th>
			<th>Активен?</th>
			<th>Почта</th>
			<th>Дата создания</th>
			<th>Действия</th>
		</tr>
		</thead>
		<tbody id="teacherTableBody">
		</tbody>

	</table>

	<div class="loader" style="display: none;">
		<div class="running-cat-container">
			<img class="running-cat" src="images/running-cat.gif" alt="Running Cat">
		</div>
		<div class="loading-text">Загрузка</div>
	</div>

</main>
<footer>

<!--    {{>footer_bar}}-->

</footer>
</body>
</html>