<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="keywords"
		  content="платформа для тестирования студентов">
	<title>Testing platform - тест</title>
	<link rel="icon" href="/images/logo2.jpg">
	{{> styles}}
	<script src="scripts/checkCookie.js"></script>
	<script src="scripts/signOut.js"></script>
	<script src="scripts/nav.js"></script>
	<script src="scripts/checkAuth.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script src="scripts/getTest.js"></script>
	<style>
		.container {
			max-width: 600px;
			margin: auto;
		}
		.section {
			margin-bottom: 20px;
			border-bottom: 1px solid #ccc;
			padding-bottom: 10px;
		}
		.section:last-child {
			border-bottom: none;
		}
		.section h3 {
			margin-bottom: 10px;
		}
		.info-row {
			display: flex;
			justify-content: space-between;
			margin-bottom: 5px;
		}
		.info-row label {
			font-weight: bold;
		}
	</style>

	<!--        <link rel="stylesheet" href="/styles/outlines.css">-->
</head>
<body>
<header>
	{{>header_content}}
	<div class="head-bar">

		{{>sign_in}}
		{{>head_nav_bar}}
	</div>
</header>
<main>
	<h1>Информация о тесте</h1>
	<div class="container">

		<div class="test-container" style="display: none">
			<div id="testInfo" class="section">
				<h3>Основная информация</h3>
				<div id="mainInfo"></div>
			</div>

			<div id="teacherInfo" class="section">
				<h3>Информация о преподавателе</h3>
				<div id="teacherDetails"></div>
			</div>

			<div id="topicInfo" class="section">
				<h3>Информация о теме</h3>
				<div id="topicDetails"></div>
			</div>
			<span id="notEnoughAttempts" style="color: red; display: none">Использованы все попытки!</span>
			<button class="generate-test-button">Пройти тест</button>
		</div>
	</div>

</main>
<footer>

	<!--    {{>footer_bar}}-->

</footer>
</body>
</html>