<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="keywords"
		  content="платформа для тестирования студентов">
	<title>Testing platform - управление тестом</title>
	<link rel="icon" href="/images/logo2.jpg">
	{{> styles}}
	<script src="scripts/checkCookie.js"></script>
	<script src="scripts/signOut.js"></script>
	<script src="scripts/nav.js"></script>
	<script src="scripts/checkAuth.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script src="scripts/updateTest.js"></script>


	<!--        <link rel="stylesheet" href="/styles/outlines.css">-->
</head>
<body>
<header>
	{{>header_content}}
	<div class="head-bar">

		{{>sign_in}}
		{{>head_nav_bar}}
	</div>
</header>
<main>
	<h1>Обновление теста</h1>
	<div class="question-answers-form">
		<form id="updateTestForm">
			<label for="testName">Название теста:</label>
			<input class="question-input" type="text" id="testName" name="testName" required><br><br>

			<label for="topicId">Выберите тему:</label>
			<select id="topicId" name="topicId" required>
				<!-- Сюда будут подгружены темы -->
			</select><br><br>

			<label for="questionCount">Количество вопросов:</label>
			<input type="number" id="questionCount" name="questionCount" required><br><br>

			<label for="attempts">Количество попыток:</label>
			<input type="number" id="attempts" name="attempts" required><br><br>

			<label for="group">Выберите группу:</label>
			<select class="question-input" id="group" name="group" required>
			</select><br><br>

			<button type="submit">Сохранить изменения</button>
			<button onclick="deleteTest()">Удалить</button>
		</form>
	</div>
</main>
<footer>

	<!--    {{>footer_bar}}-->

</footer>
</body>
</html>